  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  .heroImg {
    text-align: center;
  }
  .intro {
    font-weight: bold;
    }
    h1 {
      font-size: 40px;
      margin-bottom: 50px;
    }
    h2 {
      font-size: 30px;
      font-weight: normal;
      margin-top: 70px;
      margin-bottom: 70px;
    }
    p {
      font-size: 25px;
      margin-bottom: 50px;
      margin-right: 400px;
      margin-left: 400px;
      }    
      ul {
        list-style-type: none;
        margin-top: 20px;
      }
      body {
        background-color: #F5F5F5;
        margin-top: 30px;
        }
    .inline-block{
      display: inline-block;
      vertical-align: top;
    }
    .logo  {
      width: 50%;
      padding: 1px;
      margin-left: 200px;
    }
   .back {
       font-size: 20px;
       margin-top: 9%;
       margin-bottom: 9%;
   }
   .nav {
    font-size: 17px;
   }
